/*  NAVBAR STYLING SECTION   */

@import 'variables';
nav#nav-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    padding-right: 2em;
    padding-left: 2em;
    background-color: $brand-color;
    color: #e8fdff;
    z-index: 1;
}

#nav-bar {
    .header {
        float: left;
        height: 80px;
        font-size: 200%;
        line-height: 2.5;
        margin-left: 10px;
    }
    .logo {
        background-color: $brand-color;
        height: 80px;
        width: 80px;
        float: left;
    }
}

button>i {
    margin: 5px;
    color: $brand-color;
    visibility: visible;
    float: left;
}

button {
    float: right;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    color: $brand-color;
    line-height: 2;
    height: 80%;
    filter: opacity(90%);
}

#nav-bar button:hover i {
    color: black;
}

button:hover {
    color: black;
    cursor: pointer;
    filter: opacity(100%);
}

@media (max-width: 600px) {
    nav#nav-bar {
        height: 40px;
    }
    button {
        height: 60%;
        font-size: x-small;
        margin-top: 8px;
    }
    #nav-bar .logo {
        height: 40px;
        width: 40px;
    }
    #nav-bar .header {
        font-size: 100%;
    }
}

@media (max-width: 350px) {
    button {
        display: none;
    }
    #nav-bar .header {
        display: none;
    }
}

@media print {
    #nav-bar {
        display: none;
    }
}

/*  END NAVBAR STYLING SECTION   */