/*  NEW TWEET STYLING SECTION   */

section.new-tweet {
    border: $border-style;
    border-radius: 5px;
    padding: 10px;
    background-color: #eee;

    h2 {
        padding: 5px;
        border-bottom: 1px solid black;
    }
    
    textarea {
        width: 100%;
        padding: 5px;
    }
}

span.counter {
    font-style: italic;
    float: right;
}

.red {
    color: red;
}

@media (max-width: 600px) {
    .new-tweet h2 {
        margin-top: 10px;
        font-size: 100%;
    }
    span.counter {
        font-size: x-small;
    }
}

/*  NEW TWEET STYLING SECTION   */