
/*  NAVBAR STYLING SECTION   */

nav#nav-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #00a087;
    color: #e8fdff;
    z-index: 1;
}


#nav-bar .header {
    float: left;
    height: 80px;
    font-size: 200%;
    line-height: 2.5;
    margin-left: 10px;
}

#nav-bar .logo {
    background-color: #00a087;
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar i {
    margin: 5px;
    color: #00a087;
    visibility: visible;
    float: left;
    z-index: 1;

}

#nav-bar .compose {
    float: right;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: #00a087;
    line-height: 2;
    height: 80%;

}

#nav-bar:hover .compose {
    color: black;
    cursor: pointer;
}

#nav-bar:hover i {
    color: black;
}
/*  END NAVBAR STYLING SECTION   */